# ===== Java / Maven (backend) =====
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.log
hs_err_pid*

# ===== Node / Angular (frontend) =====
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# ===== Environment / secrets =====
*.env
.env
.env.*
application-local.properties

# ===== IDE / Editor =====
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# ===== OS =====
.DS_Store
Thumbs.db
